<br><br>
<div class='bet-members'>

<span class="agrees-against">Agrees:</span>
<% if @agree_members.any? %>
  <% @agree_members.each do |member| %>
    <%= link_to member.name, member %>
  <% end %>
<% else%>
  <span class='no-requests'>(no one agrees yet)</span>
<% end %>

<% if @agree_requesters.any? %>
        <div class="pending-members">
          
          <h4>pending</h4>
          <% @agree_requesters.each do |requester| %>
            <% membership = requester.memberships.find_by(bet_id: @bet.id) #add index to model %>
            <%= link_to requester.name, requester %>
            <%= render 'accept_reject_btns', membership: membership %>
            <br>
          <%end%>

        </div>

<% end %>
<br>


<span class="agrees-against">Against:</span>
<% if @against_members.any? %>
 
        <% @against_members.each do |member| %>
          <%= link_to member.name, member %>
        <% end %>
<% else%>
  <span class="no-requests">(no one's against yet)</span>
<% end %>

<% if @against_requesters.any? %>
      <div class="pending-members">
        <h4>pending</h4>
        <% @against_requesters.each do |requester| %>
        <% membership = requester.memberships.find_by(bet_id: @bet.id) %>
          <%= link_to requester.name, requester %>
          <%= render 'accept_reject_btns', membership: membership %>
        <% end %>
      </div>

<% end %>

<br><br>