.bet.another-round
  = link_to "Betcha #{@bet.title} again", @bet, class: "another-round-text"
%br
%br

%h2 This round

- if @round.agree_won? 
  .bet.round-agree-won
    %span
      Round: 
      = @round.id

    .round-time
      = @round.created_at.strftime('%A' ', ' '%b' ' ' '%d' ', ' '%I' ':' '%M' '%p')
    %br
    %span.wager
      $
      = @bet.wager
    %span.odds
      = "#{@bet.odds}:1"
    %br

      

    - @round.users.each do |player|
      = link_to player.name, player


- else
  .bet.round-against-won
    Round: 
    = @round.id
    .round-time
      = @round.created_at.strftime('%A' ', ' '%b' ' ' '%d' ', ' '%I' ':' '%M' '%p')


    .wager
      $
      = @bet.wager
    .odds
      = "#{@bet.odds}:1"
    %br

      - @round.users.each do |player|
        = link_to player.name, player

%br

%h3 Previous rounds
= render 'rounds/bet_rounds'







