%h2 
  Contracts for round 
  =@round.id
  of
  = link_to @bet.title, @bet


/ single form for all contracts (doesnt work yet)

      
/ giving contracts created in Contracts new action, no id's show and not saving to DB
%ul
  - @round.contracts.each do |contract|
    %li= contract.user.name
    %li= contract.id

.bet
  .bet_title
    = @bet.title



  = @bet.created_at
  = @bet.bet 

  .wager
    $
    = @bet.wager
  .odds
    = @bet.odds
    = ": 1"




= render 'memberships/bet_buttons'
= render 'rounds/round_buttons'

= render 'memberships/bet_members'
= render 'rounds/bet_rounds'







