<div class='bet-members'>
  
  <div class='active-members'>
    <h2>Agrees</h2>
    <% @agree_members.each do |member| %>
      <%= link_to member.name, member %>
    <% end %>
  </div>

  <div class="pending-members">
    <h4>pending</h4>
    
    <% @agree_requesters.each do |requester| %>
      <% membership = requester.memberships.find_by(bet_id: @bet.id) #add index to model %>
      <%= link_to member.name, member %>
      <%= render 'accept_reject_btns', membership: membership %>
      <br>
    <%end%>

  </div>
      

  <h2>Against</h2>
  <% @against_members.each do |member| %>

    <%= link_to member.name, member %>

  <% end %>
<div class="pending-members">
  <h4>pending</h4>
  <% @against_requesters.each do |requester| %>
  <% membership = requester.memberships.find_by(bet_id: @bet.id) %>
    <%= link_to member.name, member %>
    <%= render 'accept_reject_btns', membership: membership %>
  <% end %>
</div>
