<div class="header">
</div>

<div class="bets">
  <div class="container">
  
    <% @bet.each do |bet| %>
    <% if current_user.id == bet.user_id %>
      <div class="bet">
        <h1>Your Bet </h1> 
          <p><%= bet.bet %> </p>
          <p>Wager:   <%= bet.wager %> </p>
          <p>Odds:    <%= bet.odds %> </p>
          <!--<p class="time"><%= bet.created_at %></p>-->
      </div>
    <% else %>
      <div class="bet">
        <h1><%= bet.user.email %>'s Bet </h1> 
          <p><%= bet.bet %> </p>
          <p>Wager:   <%= bet.wager %> </p>
          <p>Odds:    <%= bet.odds %> </p>
          <!--<p class="time"><%= bet.created_at %></p>-->
      </div>
    <% end %>
    <% end %>
    
    <%= link_to 'New Bet', "bets/new" %>




  </div>
</div>