<div class="login">  
  <h1>I Betcha that...</h1>
    
    <%= simple_form_for @bet do |f| %>
        <div class="form-group">
            <%= f.text_field :title, placeholder: "Cubs win world series", class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.text_area :bet, placeholder: "Conditions", class: "form-control" %>
        </div>  
        <div class="form-group">
            <%= f.number_field :wager, placeholder: "Wager", class: "form-control" %>
        </div>  
        <div class="form-group">
            <%= f.number_field :odds, placeholder: "Odds", class: "form-control" %>
        </div>



        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit "Create a bet", class: "btn btn-primary" %>
    <% end %>
</div>