<div class='bet'>

  <h2 class='bet_title'><%= @bet.title %></h2>



  <%= @bet.created_at %>
  <p><%= @bet.bet %></p>

  <span class='wager'>$<%= @bet.wager %></span>
  <span class='odds'><%= @bet.odds %>:1</span>

</div>



  <%= render 'memberships/bet_buttons' %>

  <%= render 'rounds/round_buttons' %>

  <%= render 'memberships/bet_members' %>
  <%= render 'rounds/bet_rounds' %>







