<h1><%= @bet.title %></h1>

<ul>
  <li><%= @bet.bet %></li>
  <li><%= @bet.created_at %></li>
  <li><%= @bet.odds %></li>
  <li><%= @bet.wager %></li>
</ul>

<%= render 'bet_buttons' %>
<%= render 'members' %>






