   = link_to "Agree wins!", bet_rounds_path(@bet), method: :post, class: 'round-btn agree-wins-btn btn btn-default'

  = link_to "Against wins!", bet_rounds_path(@bet), method: :post, class: 'round-btn against-wins-btn btn btn-default'

###################

  = simple_form_for [@bet, @bet.round.build] do |f|
    = f.hidden_field :agree_won, value: true
    = f.submit "Happened!", class "agree-won-btn, new-round-button"
    
  = simple_form_for [@bet, @bet.round.build] do |f|
    = f.hidden_field :agree_won, value: true
    = f.submit "Happened!", class "agree-won-btn, new-round-button"