<h2><%= @user.name %></h2>

<%= render 'friendships/friend_status' %>
<br>

<% if @user != current_user %>
  <%= render 'memberships/user_bets' %>
<% end %>
<br>

<%= render 'friendships/user_friends' %>
<br>

<br>
<h5>ALL USERS (for development convenience)</h5>
<ol>
<% User.all.each do |u| %>
  <li><%= link_to u.name, u %></li>
<% end %>



