<h2><%= @user.name %></h2>
<br>

<%= render 'friendships/friend_links' %>

<% @bets.each do |bet| %>
  <div class="bet">
    <ul>
      <%= link_to bet.title, bet, class: "bet_title" %>
      <li>Wager: <%= bet.wager %> </li>
      <li>Odds: <%= bet.odds %> </li>
  </div>
<% end %>

<br><br>
<h5>ALL USERS (for development convenience)</h5>
<ol>
<% User.all.each do |u| %>
  <li><%= link_to u.name, u %></li>
<% end %>



