<h2><%= @user.name %></h2>
<%= render 'friendships/friend_links' %>
<br>


<% if @user != current_user %>
  <h3><%= @user.name %>'s Bets</h3>

  <% @bets.each do |bet| %>
    <div class="bet">
      <ul>
        <%= link_to bet.title, bet, class: "bet_title" %>
        <li>Wager: <%= bet.wager %> </li>
        <li>Odds: <%= bet.odds %> </li>
    </div>
  <% end %>
<% end %>

<br>

<% if current_user == @user %>
  <h4>Your friends</h4>
<% else %>
  <h4><%= @user.name %>'s friends</h4>
<% end %>
<% @user.friends.each do |friend| %>
  <% if current_user == friend %>
    <%= link_to "You", friend %>
  <% else %> 
    <%= link_to friend.name, friend %>
  <% end %>
    <% if current_user == @user %>
      <%= link_to "Remove", friendship_path(id: friend), method: :delete, data: { confirm: "Remove #{friend.name} from your friends?" } %>
    <% end %>
  <br>
<% end %>



<br><br>
<h5>ALL USERS (for development convenience)</h5>
<ol>
<% User.all.each do |u| %>
  <li><%= link_to u.name, u %></li>
<% end %>



