<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-brand">
      <%= link_to "Bets", root_url%>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? #changed from current_user %> 
        <li><%= link_to current_user.name, current_user%></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Log in", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</div>