<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <div class="header">
    <div class="container">

      <div class="nav">
        <% if user_signed_in? #changed from current_user %> 
          <ul>
            <li><%= current_user.email %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: "delete" %></li>
          </ul>
        <% else %>
          <ul>
            <li><%= link_to "Log in", new_user_session_path %></a></li>
            <li><%= link_to "Sign up", new_user_registration_path %></a></li>
          </ul>
        <% end %>
      </div>
    
      <div class="logo">
      </div>
    
    </div>
  </div>

  <!-- provides alerts and warnings -->
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert" %>
    <% end %>
  </div>

  <%= yield %>